.lunch-panel {
  margin-bottom:1vh;
  margin-left:1px;
  margin-right:1px;;
}

.img-circle{
  margin-top:5px;
  margin-right:5px;
}

#cancelAttending{
  font-size:0.8em;
}

.clickable {
    cursor:pointer;
}
